<div class="card">
    <p-menubar>
        <ng-template pTemplate="start">
            <img class="e-logo" src="./assets/ecommerec-logo.svg" alt="Logo">
        </ng-template>
        <ng-template pTemplate="end" >
            <ng-container *ngFor="let item of items">
                <a pRipple 
                    routerLinkActive="ak-active"
                    [routerLink]="item?.['path']"
                    class="p-menuitem-link text-black p-2 p-link inline-flex justify-content-center align-items-center hover:bg-white-alpha-10 transition-all transition-duration-200">
                    <span [class]="item.icon"></span>
                    <span class="ml-2">{{ item.label }}</span>
                </a>
            </ng-container>

        </ng-template>
    </p-menubar>
</div>