<div class="footer">
    <div class="container">
        <div class="adrees">
            <ul>
                <li>
                    <i class="pi pi-angle-double-down"></i>
                    <span>İstanbul, Turkey</span>
                </li>
                <li>
                    <i class="pi pi-phone"></i>
                    <span>053*******</span>
                </li>
                <li>
                    <i class="pi pi-envelope"></i>
                    <span>omer.akrum01&#64;gmail.com</span>
                </li>
            </ul>
        </div>
        <div class="desc">
            <h5>About E-commerce</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi dolore perferendis atque deleniti laborum? Eos eaque maxime, esse dolor non mollitia</p>
        </div>
    </div>
</div>