

.popular-prod .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: 40px;
    position: relative;
}

.products .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
    position: relative;
}

// .product-list {
//     display: flex;
//     justify-content: space-evenly;
//     row-gap: 15px;

// }

.product-list .product {
    // width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 8px 0px grey;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
}
.product-list .product img {
    width: 100%;
}

.product-list .product .product-txt {
    padding: 25px 15px;
}
.product-list .product .product-txt .prod-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}
.product-list .product .product-txt .prod-n {
    font-size: 21px;


}
.product-list .product .product-txt .prod-description {
    font-size: 18px;
    color: #4f4f4f;

}
.product-list .product .product-txt .prod-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.product-list .product .product-txt .prod-data span.old-price {
    color: gray;
    text-decoration: line-through;
}
.product-list .product .product-txt .prod-data span.price {
    font-size: 18px;
    font-weight: 600;
}
.product-list .product .product-txt .prod-data span.desc {
    display: inline-flex;
    font-size: 13px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: red;
    border-radius: 50%;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
}
.product-list .product .product-txt .prod-data span.available {
    font-size: 20px;
}

.product-list .noProducts {
    font-size: 18px;
    color: #282c2f;
}

.product-list .noProducts span {
    color: red;
}

