<div class="product-list">
    @for (prod of productCount; track $index) {
    <div class="product cursor-pointer"
        [routerLink]="['/details',prod.id]">
        <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/'+prod.prodImg" 
            #iamge
            (error)="iamge.src='./assets/no-img-available.png'"
            [alt]="prod.prodTitle">
        <div class="product-txt">
            <div class="prod-name">
                <span class="prod-n">{{prod.prodTitle}}</span><br>
                <span class="prod-description">{{prod.prodDescretion}}</span>
            </div>
            <div class="prod-data">
                <span class="old-price"><span>$</span>{{prod.prodOldPrice}}</span>
                <span class="price"><span>$</span>{{prod.prodPrice}}</span>
                <span class="desc">{{prod.prodDec}}<span>%</span></span>
                <span class="available">{{prod.prodAva}}</span>
            </div>
            @if (!prod.isAdded){
                <p-button (click)="addToCart(prod.id);markAsAddedToCart(prod);$event.stopPropagation()" label="ADD TO CART" styleClass="w-full" icon="pi pi-cart-plus" iconPos="right"/>
            }
            @if (prod.isAdded) {
                <p-button (click)="markAsRemoveFromCart(prod);removeFromCart(prod);$event.stopPropagation()" label="REMOVE FROM CART" severity="danger" styleClass="w-full" icon="pi pi-cart-minus" iconPos="right"/>
            }
        </div>
    </div>
    }@empty {
        <h2 class="noProducts">Sorry, product <span>{{productSearch}}</span> is not available in our product list.</h2>
    }
</div>