<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img class="e-logo" src="./assets/ecommerec-logo.svg" alt="Logo">
        </ng-template>
        <ng-template pTemplate="item" let-item let-root="root">
            <a  [routerLink]="item?.['path']" pRipple class="ak-nav flex align-items-center p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="card flex justify-content-center">
                <a class="cart p-2 "><i class="pi pi-shopping-cart text-2xl" pBadge value="2"></i></a>
                <div class="card card-user">
                    <p-menubar [model]="items_user" />
                </div>
            </div>


            
        </ng-template>
    </p-menubar>
</div>